# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Azure Functions artifacts
.python_packages/
.venv/
.env
bin/
obj/

# Local settings
local.settings.json

# Azure
__blobstorage__/
__queuestorage__/
__azurite_db*__.json

# Python
*.pyc
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo
*~
